body{
    margin: 0;
    padding: 0;

    background-color: #a0a0a0;
}


#bmiForm {
    margin: 10px auto 10px auto;
    text-align: center;

    font-family: Georgia;
    font-size: 16px;

}

input[type="text"]{
    background-color: #e5e5e5;
    border-radius: 5px 5px 0 0;
    height: 30px;
    width: 150px;
    padding-left: 6px;
    margin: 10px;
}

input[type="button"]{

     background:none;
     border:none;

    height: 50px;
    width: 100px;
    background-color: #18663a;
    border-radius: 5px 5px 5px 5px;

    position: relative;
    right: 30px;

    color: #fff;
}

input[type="button"]:active{
    position: relative;
    top: 3px;
}

button{
    background:none;
    border:none;
    background-color: #968076;

    height: 50px;
    width: 100px;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    position: relative;
    left: 30px;
}

button:active{
    position: relative;
    top: 3px;
}

#displayResult{

    background-color: #5378b5;
    height: 180px;
    width: 360px;

    margin: 30px auto 0px auto;
    padding: 15px;

    font-family: Georgia;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.5em;
    color: #fff;
    opacity: 0;
    overflow: hidden;

    -webkit-box-shadow: 0px 5px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 25px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 25px 1px rgba(0,0,0,0.75);
}

#displayResult.open{
    opacity: 1;
}
